<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../template/head.ejs") %>
  </head>
  <body>
    <%- include("../template/navbar.ejs") %>

    <div class="container pt-24">
      <!-- if user logged in -->
      <% if (locals.isLoggedIn) { %>
        <div class="container">
            <div class="bg-sky-950 border-l-4 px-6 py-6 rounded-lg flex">
              <!-- Content -->
              <div class="">
                <h3 class="text-2xl font-extrabold text-light">
                  Logged in successfully
                </h3>
                <div class="mt-2 text-xl font-semibold text-light">
                  <p>Welcome, <%= locals.user.username %>!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% } %>

      <div class="flex flex-wrap items-center justify-center">
        <!-- if user is logged in show 'new' button -->
        <% if (locals.isLoggedIn) { %>
          <div class="w-full px-4 mb-10 mt-8 pt-6">
            <!-- New Button -->
            <a href="/categories/all/articles/new" class="text-base font-semibold text-white bg-green py-3 px-8 rounded-full w-full hover:opacity-80 hover:shadow-lg tansition duration-500 block text-center">
              New Article
            </a>
          </div>
        <% } %>
      </div>

      <div class="flex flex-wrap justify-center">
        <% articles.forEach(article => { %>

          <div id="article" class="w-full px-4 lg:w-1/2 xl:w-1/3">
            <div class="bg-darkish rounded-xl shadow-lg overflow-hidden mb-10">
              <div class="py-8 px-6">
                <h3>
                  <a href="/categories/all/articles/<%= article.slug %>" class="block mb-3 font-semibold text-light text-3xl hover:text-primary truncate">
                    <%= article.title %>
                  </a>
                </h3>

                <p class="font-extralight text-xs text-graylight mb-2">
                  <%= article.createdAt.toLocaleDateString() %>
                </p>
                
                <p class="font-medium text-lg text-gray mb-6">
                  <%= article.description %>
                </p>
                
                <a href="/categories/all/articles/<%= article.slug %>" class="font-medium text-sm text-white bg-primary py-3 px-6 rounded-xl hover:opacity-80 tansition duration-500 inline-block mt-3">Read More</a>
                
                <!-- If user is logged in show 'edit' & 'delete' buttons -->
                <% if (locals.isLoggedIn) { %>
                  <a href="/categories/all/articles/edit/<%= article.id %>" class="font-medium text-sm text-white bg-green py-3 px-6 rounded-xl hover:opacity-80 tansition duration-500 inline-block mt-3">Edit</a>
                  
                  <form action="/categories/all/articles/<%= article.id %>?_method=DELETE" method="POST" class="inline-block">
                    <button type="submit" class="font-medium text-white bg-red-600 py-3 px-6 rounded-xl w-full hover:opacity-80 hover:shadow-lg tansition duration-500 mt-3">Delete</button>
                  </form>
                <% } %>
              </div>
            </div>
          </div>

        <% }); %>
      </div>
    </div>
  </body>
</html>
