<!doctype html>
<html lang="en">
  <head>
    <%- include("../template/head.ejs") %>
  </head>
  <body>
    <%- include("../template/navbar.ejs") %>
    
    <div class="container py-16 mt-8">
      <div class="flex flex-wrap">
        <div class="w-full self-center px-4">
          <!-- Title -->
          <h1 class="block font-bold text-white text-4xl mt-1">
            <%= article.title %>
          </h1>

          <!-- Date Created -->
          <p class="block font-medium text-secondary mt-1">
            <%= article.createdAt.toLocaleDateString() %>
          </p>
        </div>
      </div>

      <div class="flex flex-wrap items-center justify-center">
        <!-- If user is logged in show 'edit' button -->
        <% if (locals.isLoggedIn) { %>
          <!-- All Articles Button -->
          <div class="w-6/12 px-4 py-2">
            <a
              href="/"
              class="text-base font-semibold text-white py-3 px-8 w-full hover:opacity-80 hover:shadow-lg tansition duration-500 block text-center rounded-xl bg-secondary"
              >All Articles</a
            >
          </div>
          <!-- Edit Button -->
          <div class="w-6/12 px-4">
            <a
              href="/categories/all/articles/edit/<%= article.id %>"
              class="text-base font-semibold text-white bg-green py-3 px-8 rounded-xl w-full hover:opacity-80 hover:shadow-lg tansition duration-500 block text-center"
              >Edit</a
            >
          </div>
        <% } else { %>
          <!-- All Articles Button -->
          <!-- button full width -->
          <div class="w-full px-4 py-2">
            <a
              href="/"
              class="text-base font-semibold text-white py-3 px-8 w-full hover:opacity-80 hover:shadow-lg tansition duration-500 block text-center rounded-xl bg-secondary"
              >All Articles</a
            >
          </div>
        <% } %>
      </div>

      <!-- Markdown Rendered -->
      <div class="flex flex-wrap">
        <div class="w-full self-center px-4 pt-6 markdown">
          <%- article.sanitizedHtml %>
        </div>
      </div>
    </div>
  </body>
</html>
